<div class="wrapper">
  <div class="container">
    <div class="steps">
      <div class="step">
          <span [className]="isClicked(1) ? 'dot dot-selected' : 'dot'"><p>1</p></span>
          <p class="step-name">Course Info</p>
      </div>
      <div class="step">
          <span [className]="isClicked(2) ? 'dot dot-selected' : 'dot'"><p>2</p></span>
          <p class="step-name">Thumbnail</p>
      </div>
      <div class="step">
          <span (click)="ChangeCurrentStep(3)" [className]="isClicked(3) ? 'dot dot-selected' : 'dot'"><p>3</p></span>
          <p class="step-name">Requirements</p>
      </div>
      <div class="step">
          <span (click)="ChangeCurrentStep(4)" [className]="isClicked(4) ? 'dot dot-selected' : 'dot'"><p>4</p></span>
          <p class="step-name">Content</p>
      </div>
      <div class="step">
          <span (click)="ChangeCurrentStep(5)" class="dot"><p>5</p></span>
          <p class="step-name">Submit</p>
      </div>
    </div>

    <div class="section">
        <router-outlet></router-outlet>
    </div>
  </div>
</div>