<div class="container">
    <div class="coursesWrapper" *ngIf="courseDetails">
        <p>Courses:</p>
        <div>       
            <ul>
                <option *ngFor="let course of courseDetails">
                    CourseName: {{ course.courseName }}
                    CourseStatusId: {{ course.courseStatusId }}
                    Course Start: {{ course.courseDateTimeStart }}
                    Course length: {{ course.courseDuration }}
                    Course Description: {{ course.courseDesc }}
                </option>
            </ul>
        </div>
        
    </div>
</div>


<!--Test Messagessss-->
