<div class="wrapper">
    <div class="header">
        <div class="container">
            <h1>My Dashboard</h1>
        </div>
    </div>
    <div class="tab-list">
        <ul>
            <li>My Courses</li>
            <li>Favourites</li>
            <li style="border-right: none" routerLink="teacher" routerLinkActive="active-link">Teacher</li>
        </ul>
    </div>
    <div class="content">
        <div class="container-2">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

