<div class="wrapper">
  <div class="container">
    <ul class="navbar">
      <li routerLink='/home'><img src="../../assets/hat.png" alt=""></li>
      <li><p class="app-name">WIRBLE.io</p></li>
      <li class="search-box">
          <input class="search-text" type="text" placeholder="Find your Course"><a class="search-btn" href="#"><i class="fa fa-search"></i></a>
      </li>
    
      <li class="list">Courses<i class="fa fa-caret-down"></i>
        <ul class="dropdown" id="dropdown-list">
          <li routerLink='/courses'>All Courses</li>
          <li *ngIf="loggedIn()" routerLink='/my-courses'>My Courses</li>
          <li>Popular Courses</li>
          <li routerLink='/quiz-instances'>Quiz</li>
          <li routerLink='/add-course'>Create Course</li>
        </ul>
      </li>
      <li *ngIf="!loggedIn()"><button type="button" routerLink='/register'>Register</button></li>
      <li *ngIf="!loggedIn()"><button type="button" routerLink='/sign-in'>Sign In</button></li>

      <li class="profile" *ngIf="loggedIn()">
        <img src="../../assets/profileImage.jpg" alt="poos">
        <ul class="profile-dropdown" id="dropdown-list2">
          <li routerLink='dashboard'>Dashboard</li>
          <li>My Account</li>
          <li (click)="logOut()">Sign Out</li>
        </ul>
      </li>
    </ul>
  </div>
</div>



  