<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">TeachingApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto">
        <a class="nav-item nav-link" scrollTo href="#about">About Us</a>
        <a class="nav-item nav-link" scrollTo href="#contact">Contact</a>
        <div *ngIf = "!loggedIn()"> 
          <button routerLink='/register' routerLinkActive='active' type="button" class="btn btn-outline-primary">Register</button>
          <button routerLink='/login' routerLinkActive='active' type="button" class="btn btn-primary">Sign In</button>
        </div>
        <div *ngIf = "loggedIn()"> 
            <button routerLink='/home' routerLinkActive='active' type="button" class="btn btn-primary" (click) = "logOut()">Sign Out</button>
            
        </div>
      </div>
    </div>
  </nav>
  