<div class="page-header">
    <div class="container">
        <h1>All Courses</h1>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-2" *ngFor="let course of courseDetails">
            <div class="card">
                <img class="card-img-top" src="../../assets/placeholder.jpg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">{{ course.courseName | slice:0:25}}</p>
                </div>
            </div>
        </div>
    </div>
</div>