:host{
    width: 100%;
    min-height: 100vh;
}
.page-header{
    height: 170px;
    background-color: #C99781;
    background-image: linear-gradient(90deg, #C99781 , #edc7b7);
    border: 0;
    background-repeat: no-repeat;
}

h1{
    color: #ffffff;
    padding-top: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.col-2{
    padding: 15px;
}

.card{
    cursor: pointer;
}