:host{
    width: 100%;
    padding-bottom: 57px;
    float: left;
}

.header{
    height: auto;
    padding-top: 60px;
    padding-bottom: 60px;
    background: #2f3640;
    color: #ffffff;
}

h1, h3{
    margin: 0;
}