:host{
    width: 100%;
    height: 100vh;
    float: left;
    clear: both;
}

.header{
    height: auto;
    padding-top: 60px;
    padding-bottom: 60px;
    background: #29303b;
    color: #ffffff;
}

h1, h3{
    margin: 0;
}