/* You can add global styles to this file, and also import other style files */
html, body {
  min-height: 100%;
  margin: 0;
}

/*remove outline on bootstrap buttons when clicked*/
.btn-primary.focus, .btn-primary:focus, 
.btn-outline-primary.focus, .btn-outline-primary:focus {
  -webkit-box-shadow: none!important;
  box-shadow: none!important;
}

.ngx-toolbar{
  background-color: transparent !important;
}

.ngx-toolbar-set{
  background-color: transparent !important;
}

.ngx-editor-button{
  border: none !important;
}