<div class="topic-modal">
    <div class="topic-modal-box">
        <div class="topic-modal-container">
        <div class="input-field">
            <label>Enter a Name for the Lesson</label>
            <input type="text" name="LessonName" #LessonName ngModel>
        </div>
        <label>Add Lessons for this topic</label>
    <div  *ngFor="let lesson of lessons; let i = index">
        <div class="topic">
            <p>Lesson {{i + 1}}: {{lesson.lessonName}}</p>
            <!--<input type="text" name="LessonName" #LessonName placeholder="{{lesson.lessonName}}" ngModel>-->
            <button class="custom-btn" id="edit-btn{{i}}" (click)="editLesson(i)">Edit</button>
            <button class="custom-btn" id="save-btn{{i}}" style="display:none" (click)="saveChanges(i)">Save</button>
        </div>
        <div class="edit-lesson" style="display: none" id="{{i}}">
            
        </div>
    </div>
    
    <div *ngIf="blah" class="add-topic" routerLink='/create-course/content/add-topic/add-lesson'>
        <p>Add Lesson</p><i class="fa fa-plus"></i>
    </div>
        <div class="add-video">
            <div class='upload-box'>
            <input type="file" #Image (change)="handleFileInput($event)">
            </div>
        </div>
        <div class="modal-buttons">
            <button class="cancel custom-btn" routerLink="/create-course/content/add-topic">Cancel</button>
            <button (click)="addTopics(TopicName.value, TopicDescription.value)" class="add custom-btn">Add Topic</button>
        </div>
    
        
        </div>
    </div>
    
    </div>