
/************* Buttons *************/
.topic button{
    color: #ffffff;
    background: transparent;
    padding: 0 10px;
    margin-top: 10px;
    margin-right: 10px;
    float: right;
    height: 30px;
}

.topic .add-btn{
    background: #49a003;
}

.topic .add-btn:hover{
    background: #2e6401;
    transition: all 0.3s;
}

.topic{
    height: 50px;
    width: 100%;
    border: 1px solid #C0C0C0;
    margin-bottom: 15px;
}

.topic .edit-btn{
    color: #288ca2;
}

.topic .delete-btn{
    color: red;
}

.topic p{
    margin: 0;
    line-height: 50px;
    display: inline-block;
    margin-left: 15px;
}

.add-topic{
    margin-top: 15px;
    background: #288ca2;
    padding: 6px 10px;
    color: #ffffff;
    display: inline-block;
    cursor: pointer;
}

.add-topic:hover{
    background: #135e6e;
    transition: all 0.3s;
}

.add-topic p{
    display: inline-block;
    line-height: 1.5rem;
    margin: 0;
    margin-right: 20px;
    margin-left: 15px;
}

.add-topic i{
    font-size: 1rem;
    line-height: 1rem;
}

.new-topic{
    height: 100%;
}

.new-topic input{
    height: 100%;
    width: 90%;
    border: none;
    padding-left: 15px;
}



