<!--Review & Submit Course-->
<div class="section-title">
  <h3>Step 4: Create Course Content</h3>
</div>
<div class="section-content">
  <div class="topic" *ngFor="let topic of topics; let i = index">
    <p>Topic {{i + 1}}: {{topic.topicName}}</p>
    <button class="custom-btn" routerLink="/create-course/content/edit-topic">Edit</button>
  </div>
  <div class="add-topic" routerLink='add-topic'>
      <p>Add Topic</p><i class="fa fa-plus"></i>
  </div>
  <div class="navigation-buttons">
    <button class="btn-previous custom-btn" (click)="goBack()">Go Back</button>
    <button class="btn-next custom-btn" routerLink='/create-course/submit'>Next Step</button>
  </div>
  
</div>
<router-outlet></router-outlet>

