:host, .about, .contact, .home-screen{
    float: left;
    height: 100vh;
    width: 100%;
    background-color: #eee2cd;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.wrapper{
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #eee2cd;
}
.about{
    background-color: #edc7b7;
}

h1{
    color: #123c69;
}