<!--Course Info-->

<div class="section-title">
  <h3>Step 1: Enter Basic Course Info</h3>
</div>
<div class="section-content">
  <div>
    <div class="input-field">
      <label>Enter a Name for the Course</label>
      <input type="text" name="CourseName" #CourseName [(ngModel)]="courseName">
    </div>
    <div class="input-field">
      <label>Enter a subtitle for the Course</label>
      <input type="text" name="CourseSubtitle" #CourseSubtitle [(ngModel)]="courseSubtitle">
    </div>
  
    <div class="input-field">
    <label>Enter a detailed Description about the Course</label>
    <editor apiKey="q5vm3kahytbopeoboczaj73xriedeav2sd9yp4sp0vwuedn5" [(ngModel)]="dataModel" [init]="{plugins: 'image code lists preview', images_upload_url: 'postAcceptor.php', height: 400, menubar: false, toolbar: 'bold italic underline alignleft aligncenter alignright bullist numlist formatselect | image preview'}"></editor>
    </div>
    <div class="navigation-buttons">
        <button class="custom-btn btn-next btn btn-primary" (click)="OnSubmit()">Next Step</button>
    </div>
  </div>
</div>  

