<!--Image Thumbnail-->
<div class="section-title">
  <h3>Step 2: Choose a Thumbnail Image for the Course</h3>
</div>
<div class="section-content">
    <form #thumbnailImageForm="ngForm" (ngSubmit)="OnSubmit2(Image)">
      <div class='upload-box'>
        <input type="file" #Image (change)="handleFileInput($event.target.files)">
      </div>
      <div class="navigation-buttons">
        <button class="btn-previous custom-btn btn btn-primary" routerLink='/create-course'>Go Back</button>
        <button class="btn-next custom-btn btn btn-primary" routerLink='/create-course/content'>Next Step</button>
      </div>
    </form>
</div>
